@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&family=Poppins:wght@200&family=Work+Sans:ital,wght@0,400;0,500;1,500;1,600&display=swap');
*{
	margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
}
body {
	width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(mangbg.jpg);
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
  }
  /* Navigation bar */
  .navbar {
	width: 95%;
    margin-left: 50px;
    margin-right: 20px;
    padding: 35px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .logo{
    width: 160px;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: aliceblue;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #ff7300;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}
.bell{
  width: 40px;
}

/* Container */

.container h1 {
	font-size: 50px;
    margin-top: 80px;
  }
  .container {
	width: 100%;
    position: absolute;
    top: 30%;
    transform: translateY(-50%);
    text-align: center;
    color: aliceblue;
    
  }
  button {
	width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 50px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #ff7300;
    background: transparent;
    color: aliceblue;
    cursor: pointer;
    position: relative;
    overflow: hiddens;
  }
  span{
    background: #ff7300;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
  }
  button:hover span{
    width: 100%;
  }
  button:hover{
    border: none;
}
/* .button{
  border: 2px 2px 2px 2px solid #003796;

} */
.container2 p {
	font-size: 30px;
    margin-top: 80px;
    font-weight: 900;
}
.container2{
    margin-left: 50px;
    margin-right: 50px;
    /* width: 100%; */
    position: relative;
    top: 35%;
    text-align: left;
    color: aliceblue;
}
.container2 ul li{
  font-size: 25px;
}